 {% extends 'authbase.html' %}
{% load crispy_forms_tags %}
 
{% block content %}
   <div class="container" style="   color:rgba(14, 12, 12, 0.74)" >
    <h2 class="mb-2 text-3xl lg:text-5xl text-white">Please Change Your Password</h2>
 

       <div class="row my-5">
           <div class="col-md-12">
               <form action="." method="post" class="form" style="color: white;">
                   {% csrf_token %}
                   {{ form|crispy }}
                   <button type="submit" class="btn btn-primary" style="background-color: rgb(255, 255, 255); color:black">Reset Password</button>
               </form>
           </div>
       </div>
   </div>
{% endblock %}
hx-post="{% url 'sentimental_analysis' %}" hx-indicator="#indicator"  class="gpt_form"  >
{% csrf_token %}