
<head>
    <link href="https://assets-global.website-files.com/65e5b8e7e13f2e507c87090d/css/ai-one-template.webflow.7c7a707ac.css" rel="stylesheet" type="text/css"/>
    <title>{{plan_detail.name}}</title>
</head>

<div class="heading-style-h6">{{plan_detail.name}}</div>
<div>{{plan_detail.plan_description}}</div>
<div>${{plan_detail.plan_pricing}}</div>
<div class="margin-top margin-medium">Save {{plan_detail.discount}}<a href="/sign-up" class="button max-width-full w-button">Purchase Now</a></div>
<div>{{plan_detail.benefit1}}<br/></div>
<div>{{plan_detail.benefit2}}<br/></div>
<div>{{plan_detail.benefit3}}<br/></div>
<div>{{plan_detail.benefit4}}<br/></div>

