{% autoescape off %}


Dear  {{user}},

We are thrilled to inform you that your recent purchase on   Sentimental analysis tool was successful! Thank you for choosing us for your [product/service] needs.

Here are the details of your purchase:

Order Number:{{purchaseid}}
Items Purchased:{{plan_name}}
Total Amount: {{plan_price}} 

We are delighted to have you as a valued customer, and we assure you that we are committed to providing you with the highest quality and excellent customer service.

If you have any questions or need further assistance regarding your purchase, please don't hesitate to contact .. We're here to help you!

Thank you once again for choosing  Sentimental analysis tool. We look forward to serving you again in the future.

Best Regards,

 Sentimental analysis tool Team
 
Please Don't Replay Of This Email

{% endautoescape %}