<head>
  <title> Features </title>
</head>
<div class="container my-24 mx-auto md:px-6" id="feature">
    <!-- Section: Design Block -->
    <section class="mb-32">
      <div class="flex justify-center">
        <div class="max-w-[700px] text-center">
          <p class="mb-6 font-bold uppercase text-green-500 dark:text-green-500">
            Features
          </p>
          <h2 class="mb-6 text-3xl font-bold">Why is it so great?</h2>
          <p class="mb-16 text-neutral-500 dark:text-neutral-300">
            Make Every Customer Interaction easy, uncover hidden patterns in user feedback, and Informed Decisions with AI-Powered Insights
          </p>
        </div>
      </div>
  
      <div class="grid gap-x-6 md:grid-cols-2 lg:grid-cols-4 xl:gap-x-12">
        <div class="mb-12">
          <div class="flex">
            <div class="shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="ml-2 grow">
              <p class="mb-1 font-bold">Text Classification</p>
              <p class="text-neutral-500 dark:text-neutral-300">
                Automatically categorizes text based on sentiment (positive, negative, neutral).
              </p>
            </div>
          </div>
        </div>
  
        <div class="mb-12">
          <div class="flex">
            <div class="shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="ml-2 grow">
              <p class="mb-1 font-bold">Contextual Understanding</p>
              <p class="text-neutral-500 dark:text-neutral-300">
                Considers context and tone to provide nuanced sentiment analysis.
              </p>
            </div>
          </div>
        </div>
  
        <div class="mb-12">
          <div class="flex">
            <div class="shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="ml-2 grow">
              <p class="mb-1 font-bold">Scalability</p>
              <p class="text-neutral-500 dark:text-neutral-300">
                Handles large volumes of text data efficiently to provide timely sentiment insights.
              </p>
            </div>
          </div>
        </div>
  
        <div class="mb-12">
          <div class="flex">
            <div class="shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="ml-2 grow">
              <p class="mb-1 font-bold">Visualization</p>
              <p class="text-neutral-500 dark:text-neutral-300">
                Presents results in visually appealing formats like piechart for easier interpretation.
              </p>
            </div>
          </div>
        </div>
  
        <div class="mb-12">
          <div class="flex">
            <div class="shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="ml-2 grow">
              <p class="mb-1 font-bold">Integration</p>
              <p class="text-neutral-500 dark:text-neutral-300">
                Seamlessly integrates with other platforms for streamlined workflow and analysis.
              </p>
            </div>
          </div>
        </div>
  
        <div class="mb-12">
          <div class="flex">
            <div class="shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="ml-2 grow">
              <p class="mb-1 font-bold">Easy to use</p>
              <p class="text-neutral-500 dark:text-neutral-300">
                Easy to use tool which the user find so familiar. 
              </p>
            </div>
          </div>
        </div>
  
        <div class="mb-12">
          <div class="flex">
            <div class="shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="ml-2 grow">
              <p class="mb-1 font-bold">Accuracy</p>
              <p class="text-neutral-500 dark:text-neutral-300">
                Provide high level of accuracy in sentiment analysis.
              </p>
            </div>
          </div>
        </div>
  
        <div class="mb-12">
          <div class="flex">
            <div class="shrink-0">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="mr-3 h-5 w-5 text-success">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
            </div>
            <div class="ml-2 grow">
              <p class="mb-1 font-bold">Responsive Interface</p>
              <p class="text-neutral-500 dark:text-neutral-300">
                Offers a user-friendly interface 
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  